body {
    background-image: url("../img/background.jpg");
    background-size: cover; /*设置图像大小以填满整个界面*/
  }
  

.music {
    position: fixed;
    bottom: 0;
    left: 70%;
    transform: translateX(-50%);
    width: 50%;
   }
