body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;  /* 将背景图片居中 */
  min-height: 100vh; /* 保持背景图片的高度与浏览器窗口的高度一致 */
  min-width: 100vw; /* 保持背景图片的宽度与浏览器窗口的宽度一致 */
  }

.music {
  position: fixed;
  bottom: 0;
  left: 70%;
  transform: translateX(-50%);
  width: 50vw; /* 设置为视口宽度的50% */
  }

.music button {
  height: 4vw; /* 设置为视口宽度的4% */
  width: 100%; /* 设置为宽度为父元素宽度的100% */
  font-size: 3vw; /* 设置为视口宽度的3% */
  }
