h1 {
 text-align: center;
 margin-top: 50px;
}

div {
 margin: 0 auto;
 display: table;
}

p {
 margin: 10px 0;
}

button {
 padding: 10px 20px;
 background-color: #2ecc71;
 color: #fff;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 margin-top: 50px;
 display: block;
 margin: 0 auto;
 font-size: 18px;
}

.btn {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 300px;
 padding: 20px;
 background-color: #fff;
 border: 2px solid #000;
 border-radius: 10px;
 box-shadow: 5px 5px 10px rgba(0,0,0,.5);
 display: none;
 text-align: center;
 font-size: 24px;
}

#correct {
 background-color: #40E0D0;
 color: #fff;
}

#wrong {
 background-color: #FF6347;
 color: #fff;
}

#img {
 width: 300px;
 height: 300px;
 margin-top: 50px;
 display: none;
}

img {
 max-width: 100%;
 height: auto;
 display: block;
 margin: 0 auto;
}
